{
  "presets": [
    "react",
    [
      "env",
      {
        "targets": {
          "browsers": ["last 4 versions"]
        },
        "loose": true,
        "modules": false
      }
    ]
  ],
  "plugins": ["transform-function-bind","react-hot-loader/babel","transform-class-properties"
  ],
  "env": {
    "test": {
      "presets": [["env"], "react"]
    }
  }
}
